.oldgold-text {
  color: #b4a46a;
}

tooltip.is-tooltip-primary::before {
  background: rgba(0, 209, 178, 0.1);
}

.tooltip:hover::before {
  z-index: 200;
}

table.is-fullwidth.is-hoverable:hover {
  cursor: pointer;
}

html,
body,
#app {
  height: 100%;
}

html {
  background-color: #fafafa;
}

div.container.fullheight {
  height: 80%;
}

div.container.fullheight div.columns {
  height: 100%;
}

div.spinner {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.spinner-inner {
  display: block;
}

div.spinner i {
  animation-duration: 1s;
}

.sidenav {
  height: 100%;
  position: fixed;
  z-index: 3;
  top: 0;
  right: 0;
  background-color: white;
  overflow-x: hidden;
  overflow-y: scroll;
  transition: 2s;
  padding: 20px;
  padding-top: 100px;
}

@media screen and (max-width: 768px) {
  .sidenav:not(.hidden) {
    width: 80%;
  }

  .sidenav.hidden {
    width: 0%;
  }
}

@media screen and (min-width: 769px) {
  .sidenav:not(.hidden) {
    width: 40%;
  }

  .sidenav.hidden {
    width: 0%;
  }
}

.transparent-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  transition: 0s;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  z-index: 2;
}

.box .is-divider[data-content]::after {
  background-color: #fff;
}

.is-divider[data-content]::after {
  background-color: #fafafa;
}

.vertheader {
  writing-mode: sideways-lr;
  width: 20px;
}

tr.no-bottom-border td {
  border-bottom: 0px;
}
